:root {
  --bg: #181818;
  --bg1: #282828;
  --bg2: #453d41;
  --bg3: #484848;
  --bg4: #52494e;
  --fg: #e4e4ef;
  --fg1: #f4f4ff;
  --fg2: #f5f5f5;
  --primary: #ffdd33;
  --secondary: #96a6c8;
  --secondary-1: #565f73;
  --secondary-2: #303540;
  --quarts: #95a99f;
  --red: #f43841;
  --green: #73c936;
  --brown: #cc8c3c;
}

body {
  font-family: 'Iosevka', monospace;
  src: url('./assets/fonts/Iosevka-Regular.ttf') format('ttf');
  background-color: var(--bg);
  color: var(--fg2);
}

section {
  margin-top: 4rem;
}

section h2:first-of-type {
  color: var(--primary);
  font-size: 20px;
  font-weight: 500;
}

ul>li {
  color: var(--secondary);
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.name {
  color: var(--primary);
  font-style: bold;
}

.position {
  color: var(--fg);
  font-style: bold;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.card {
  padding: 1rem;
  background-color: var(--bg1);
}

.card:hover {
  background-color: var(--bg3);
}

.card:hover .icon {
  color: var(--brown);
}

.card:hover .stack-wrapper {
  color: var(--green);
}

.card img {
  object-fit: cover;
}

.card-body {
  font-size: small;
}

.stack-wrapper {
  display: flex;
  font-size: smaller;
  gap: 0.5rem;
  font-weight: bolder;
}

.stack-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  justify-items: flex-end;
}

.stack-pill {
  cursor: pointer;
  font-weight: bolder;
}

.stack-pill:hover {
  text-decoration: underline;
}

.source-wrapper {
  display: flex;
  gap: 0.5rem;
}

.source-link {
  display: flex;
  align-items: center;
  justify-items: center;
}

.source-link:hover {
  animation: bounce 0.6s ease;
}

.icon {
  color: var(--fg);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(4px);
  }

  70% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

/* .github-icon { */
/* justify-self: center; */
/* width: 28px; */
/* height: 28px; */
/* object-fit: contain; */
/* object-fit: contain; */
/* color: var(--brown); */
/* background-repeat: no-repeat; */
/* background-image: url('../images/brand-github.svg'); */
/* } */

/* Tablet Portrait (≥ 600px) */
@media (min-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet Landscape / Small Laptops (≥ 768px) */
@media (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium Devices: Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large Desktop (≥ 1280px) */
@media (min-width: 1280px) {}